</body>
  </main> <!-- Avslutter hovedinnholdet -->
<footer>
    © 2026 Naprapat Klinikk – Alle rettigheter reservert
</footer>
</body> <!-- Avslutter body -->
</html> <!-- Avslutter hele HTML-dokumentet -->