<!DOCTYPE html> <!--Sier at dette er et html dokument -->
<html lang="no">    <!--Setter språket på nettsiden til norsk-->
<head>  <!--Åpner head taggen-->
<meta charset="UTF-8">  <!--Setter tegnsetett til utf-8-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--Responsivitet-->
<title>Naprapat Klinikk</title> <!--Setter tittelen på nettsiden-->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">   <!--Legger til Google Font Poppins-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<nav>                                       <!--Lager en nav-element-->
    <h1>Naprapat Klinikk</h1>               <!--Lager et h1 element som skal være overskrivten på nettsiden-->
    <div class="navigasjon">                <!--lager en div med klasse navigasjon-->
        <a href="#booking">Bestill time</a> <!--lager en lenke til booking seksjonen av nettsiden min-->
        <a href="#location">Lokasjon</a>    <!--lager en lenke til lokasjon seksjonen av nettsiden min-->
        <a href="#kontakt">Kontakt</a>    <!--lager en lenke til kontakt seksjonen av nettsiden min-->
        <a href="/login">Logg inn</a>    <!--lager en lenke til login siden min-->
    </div>                                  <!--Lukker div-elementet-->
</nav>                                      <!--Lukker nav-elementet-->