<%- include('partials/header') %>
<section class="login-section">
<h2 class="login-header">Logg inn</h2>
<form class="logg-inn-skjema" action="/login" method="POST">
    <label class="login-label" for="navn">Fullt navn:</label>
    <input class="login-input" type="text" id="navn" name="navn" required>

    <label class="login-label" for="password">Passord:</label>
    <input class="login-input" type="password" id="password" name="password" required>

    <button class="login-button" type="submit">Logg inn</button>

    <p class="newUser">Har du ikke konto? <a href="/register">Registrer deg</a></p>
    <p class="changePassword">Har du glemt passordet ditt? <a href="/change-password">Endre passord</a></p>
</form>
</section>
<%- include('partials/footer') %>